# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
# .env

# Log files
logs/
*.log

# Build output
dist/
build/
coverage/

# Editor specific
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db

# Others
.wwebjs_auth
.wwebjs_cache